PORT=5000
NODE_ENV=development

MONGODB_URI=

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=cipher_sql_studio

JWT_SECRET=
JWT_EXPIRES_IN=7d

GEMINI_API_KEY=
